.app_banner {
    font-size: 200%;
    text-align: center;
    font-weight: normal;
}

.top_score {
    padding: 2px;
    width: 75%;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 5px;
}

#user_name {
    display: inline;
    color: red;
}

#anon_user_message {
    display: inline; 
}

#current_score {
    display: inline;
    color: red; 
}

.welcome {
    padding: 10px;
    width: 96%;
    background: #ffffff;
    border-radius: 10px;
    margin: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 10px;
}

.game_board {
    width: 96%;
    height: 400px;
    background: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 10px;
    background: #47ad45;
    margin: 10px;
    padding: 10px;
}

.new_user {
    background: #47ad45;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    margin: 10px;
    float:left;
    text-align: center;
}

body {
    background: #E0E9CA;
    font-family: Courier;
    margin: 0px;
    padding: 0px;
}

button {
    font-family: Courier;
}

input {
    font-family: Courier;
}

#matching_box {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 192px;
    height: 108px;
    float: left;
}

#drop_box {
    background: #47ad45;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 192px;
    height: 108px;
    display: inline-block;
    float: left;
}

.drag {
    float: left;
}



footer {
    clear: both;
    background: #ffffff;
    padding: 5px;
    font-size: 75%;
    font-family: "Times New Roman";
}

.author_link {
    display: inline;
}
